/* Reference: https://www.w3schools.com/ */
/* Author: Jamie Anderson */
/* Started 24/07/2020 */
/* Sets font style used based on tag i.e 'h1 will use the font-family of "Montserrat" & "sans-serif" */
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
/* ---- */

/* On mouse hover URL text will highlight in 'blue' */
a:hover {
	color: #9DC3C2;
	background-color: #4d7298;
}
/* ---- */

/* Dropdown menu on mouse hover */
div {background-color: #77A6B6;}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}
/* ---- */

/* Header for page | ref: https://www.w3schools.com/howto/howto_css_style_header.asp */
.header {
  padding: 60px;
  text-align: center;
  background: #4d7298;
  color: white;
  font-size: 30px;
}
/* ---- */
